<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lake Berryessa Water Level</title>
</head>
<body>
<h1>Lake Berryessa Water Level</h1>
{{ current_date }} - {{ current_level }}ft<br>
{{ remaining_feet }}ft remaining, or {{ remaining_inches }}inches<br>

spill at {{ spill_level }}ft<br>

<a href="https://lakeberryessanews.com/lake-berryessa-rainfall-vs-2.html#:~:text=Previous%20analysis%20by%20the%20Lake,per%201%20inch%20of%20rain."
   target="_blank">rain in inches required for spill: {{ rain_required }}</a><br>
<hr>
<a href="https://www.usbr.gov/mp/ccao/berryessa/" target="_blank">Additional Information</a>
</body>
</html>